/* Globals */
@font-face {
  font-family: "osb";
  src: url("../assets/fonts/OpenSauceSans-Bold.ttf");
}

@font-face {
  font-family: "osm";
  src: url("../assets/fonts/OpenSauceSans-Medium.ttf");
}

.osb{
  font-family: osb;
}

a,
a:focus,
a:hover {
  color: #fff;
}
html,
body {
height: 100%;
  background-color: white;
  font-family: "osm";
  text-align: center;
}

.hide {
  display: none;
}

.landing-heading {
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
}

/* Buttons */
.btn {
  font-family: "Source Code Pro", monospace;
  padding: 0.5625rem 2.5rem;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.75rem;
  border-radius: 0 !important;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn-lg {
  font-size: 0.875rem;
  padding: 0.6875rem 3.4375rem;
  line-height: 1.75rem;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: none;
}
.btn-primary {
  background-color: #0f0f0f;
  border: 1px solid #0f0f0f;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  color: #fff;
  border: 1px solid #270f34;
  background-color: #270f34;
}
.navbar {
  background-color: #0f0f0f !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

/* Avatar */
.avatar {
  width: 100px;
  height: 100px;
}
.avatar-section {
  margin-bottom: 25px;
}

.content-container {
  margin-top: 2rem;
  padding: 2rem;
  background-color: #ecedf2;
  border-radius: 25px;
  line-height: 44px;
  font-weight: 300;
  letter-spacing: -0.04em;
  text-align: left;
}
